@using DependencyInjection.Services
@inject GreeterService greeter3

<h1>Hello @ViewBag.greeter1.Greet() from CTOR DI</h1>
<h1>Hello @ViewBag.greeter2.Greet() from FromServices Property DI</h1>
<h1>Hello @greeter3.Greet() from Razor DI</h1>