<!DOCTYPE html>
<html>
<head>
    <link href="~/css/demo.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>View Components</h1>

    <div>First section</div>

    @*@await Component.InvokeAsync("SweNug")*@

    <div>Third section</div>
</body>
</html>