<!DOCTYPE html>
<html>
<head>
    <link href="~/css/demo.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>View Components</h1>

    <div>This is madness!</div>

    @*@await Component.InvokeAsync("SweNug")*@

</body>
</html>